@project:registry=https://pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/registry/

always-auth=true

; begin auth token 
//pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/registry/:username=sd9800 
//pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/registry/:_password=cmRicm5pcm55YzN4ZmR2bXpuenQ2ZzNxMnhzNDd6Nm96c2JxbXJrd3d2YmxwNml1NjRwcQ==
//pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/registry/:email=skorchinskiy@project-llc.ru
//pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/:username=sd9800 
//pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/:_password=cmRicm5pcm55YzN4ZmR2bXpuenQ2ZzNxMnhzNDd6Nm96c2JxbXJrd3d2YmxwNml1NjRwcQ==
//pkgs.dev.azure.com/sd9800/Project/_packaging/Project.JS/npm/:email=skorchinskiy@project-llc.ru
; end auth token